*{
    font-family: monospace;
}
body{
    background-color: rgb(220, 233, 233);
    text-align: center;
}
.mover{
position: absolute;
left: 990px;
}




.Contador{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    text-align: center;
}
li{
    margin: 11px;
}
#Lista{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px; 
}
 