body{
    background-color: teal;
    text-align: center;
}
.mover{
position: absolute;
left: 200px;
}




.Contador{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    text-align: center;
}